/* stylelint-disable max-line-length */

body {
  display: grid;
  width: auto;
  height: 75vw;
}

#container {
  display: grid;
  grid-template-columns: [first] 25vw [line2] 50vw [line3] 25vw [end];
  grid-template-rows: [first] 3vw [line2] 3vw [line3] 10vw [line4] 1vw [line5] 12vw [line6] 1vw [line7] 2vw [line8] 4vw [end];
}

#header {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: auto  auto auto 7%;
  font-size: xxx-large;
}

#input-rgb-to-pybl-array {
  background-color: lightgray;
  grid-column-start: 2;
  grid-row-start: 3;
  display: inline-grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [first] 30% [label] 5% [labels] 5% [inputboxes]15% [buffer] 3% [submit] auto [buffer] 20% [end];
  grid-template-rows: [first] 7% [line2] 20% [line3] 3% [line4] 20% [line5] 3% [line6] 20% [line7] 3% [line8] 20% [line9] 3% [end];
}

#input-rgb-to-pybl-array #color-input-rgb {
  grid-column: 2 / 7;
  grid-row: 2 / 3;
  font-size: xx-large;
}

#input-rgb-to-pybl-array #labelr {
  grid-column-start: 3;
  grid-row-start: 4;
  font-size: larger;
  margin: auto;
}

#input-rgb-to-pybl-array #colorr {
  grid-column-start: 4;
  grid-row-start: 4;
}

#input-rgb-to-pybl-array #labelg {
  grid-column-start: 3;
  grid-row-start: 6;
  font-size: larger;
  margin: auto;
}

#input-rgb-to-pybl-array #colorg {
  grid-column-start: 4;
  grid-row-start: 6;
}

#input-rgb-to-pybl-array #label-rgbb {
  grid-column-start: 3;
  grid-row-start: 8;
  font-size: larger;
  margin: auto;
}

#input-rgb-to-pybl-array #color-rgbb {
  grid-column-start: 4;
  grid-row-start: 8;
}

#input-rgb-to-pybl-array #rgb-button {
  grid-column-start: 6;
  grid-row-start: 8;
}

#input-pybl-to-rgb-array {
  background-color: lightgray;
  grid-column-start: 2;
  grid-row-start: 5;
  display: inline-grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [first] 30% [label] 5% [labels] 5% [inputboxes]15% [buffer] 3% [submit] auto [buffer] 20% [end];
  grid-template-rows: [first] 8% [line2] 16% [line3] 2% [line4] 16% [line5] 2% [line6] 16% [line7] 2% [line8] 16% [line9] 2% [line10] 16% [end];
}

#input-pybl-to-rgb-array #color-input-pybl {
  grid-column: 2 / 7;
  grid-row-start: 2;
  font-size: xx-large;
}

#input-pybl-to-rgb-array #labelp {
  grid-column-start: 3;
  grid-row-start: 4;
  font-size: larger;
  margin: auto;
}

#input-pybl-to-rgb-array #colorp {
  grid-column-start: 4;
  grid-row-start: 4;
}

#input-pybl-to-rgb-array #labely {
  grid-column-start: 3;
  grid-row-start: 6;
  font-size: larger;
  margin: auto;
}

#input-pybl-to-rgb-array #colory {
  grid-column-start: 4;
  grid-row-start: 6;
}

#input-pybl-to-rgb-array #labelpyb {
  grid-column-start: 3;
  grid-row-start: 8;
  font-size: larger;
  margin: auto;
}

#input-pybl-to-rgb-array #colorpyb {
  grid-column-start: 4;
  grid-row-start: 8;
}

#input-pybl-to-rgb-array #labell {
  grid-column-start: 3;
  grid-row-start: 10;
  font-size: larger;
  margin: auto;
}

#input-pybl-to-rgb-array #colorl {
  grid-column-start: 4;
  grid-row-start: 10;
}

#input-pybl-to-rgb-array #pybl-button {
  grid-column-start: 6;
  grid-row-start: 10;
}

#output-label {
  grid-column-start: 2;
  grid-row-start: 7;
  font-size: xx-large;
}

#output {
  background-color: lightgray;
  grid-column-start: 2;
  grid-row-start: 8;
  font-size: xx-large;
}

#link-pivotal {
  grid-column-start: 1;
  margin: auto;
}

#link-git {
  grid-column-start: 1;
  grid-row-start: 2;
  margin: auto;
}
